@font-face {
  font-family: 'Siemens Sans';
  src: url('SISAN03.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Siemens Sans';
  font-size: 1.08rem;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
  border: 0;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
em,
i {
  font-style: normal;
}
#wrapper {
  width: 100%;
  height: 100%;
}
#page {
  width: 100%;
  height: 100%;
}
img {
  border: 0;
}
ul {
  list-style: none;
}
button,
input {
  outline: none;
}
header {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}
header .logo {
  width: 8rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 2;
}
header .banner {
  position: relative;
  z-index: 1;
  width: 100%;
}
header .slogan {
  position: absolute;
  width: 24rem;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.container {
  width: 100%;
  padding-top: 2rem;
}
.container .item {
  overflow: hidden;
  clear: both;
}
.container .item a {
  float: right;
  width: 7rem;
  height: 6.34rem;
  background-color: #2EB9BD;
  position: relative;
  margin-bottom: 0.4rem;
}
.container .item a:nth-child(1) {
  margin-left: 0.4rem;
}
.container .item a img {
  width: 100%;
}
.container .item:nth-of-type(2) {
  margin-right: 7.4rem;
}
.container .item:nth-of-type(3),
.container .item:nth-of-type(4) {
  margin-right: 14.8rem;
}
.agenda {
  width: 100%;
  padding: 2.5rem;
  padding-right: 0;
}
.agenda {
  padding: 1.5rem;
}
.agenda > div:nth-of-type(1) .item {
  border: 0 !important;
}
.agenda .date {
  width: 100%;
  background: #498289;
  text-align: center;
  color: #fff;
  line-height: 3rem;
}
.agenda .item {
  padding: 1rem 0;
  border-bottom: 1px dotted #d5d5d5;
}
.agenda .item * {
  font-size: 0.9rem;
  line-height: 1.6rem;
}
.agenda .item p {
  font-weight: bold;
  color: #000;
}
.agenda .item p:nth-last-of-type(1) {
  margin-bottom: 0.6rem;
}
.agenda .item .time {
  padding-left: 1.5rem;
  background-image: url(../images/icon-time.svg);
  background-size: 1.2rem 1.2rem;
  background-position: left center;
  background-repeat: no-repeat;
}
.agenda .item span {
  display: block;
  color: #999;
}
.logistic {
  padding: 0.1rem 2.5rem 0;
}
.logistic .map {
  width: 100%;
}
.logistic h2 {
  color: #004567;
}
.logistic p {
  line-height: 1.6rem;
  color: #434343;
  padding: 0.5rem 0;
}
.logistic .tel {
  margin-bottom: 10px;
}
.logistic .part {
  margin: 1rem 0;
}
.logistic .part h2,
.logistic .part p {
  line-height: 1.8rem;
  overflow: hidden;
  clear: both;
}
.logistic .part h2 span,
.logistic .part p span {
  float: left;
  margin-right: 1rem;
}
.logistic .part h2 span:nth-of-type(2),
.logistic .part p span:nth-of-type(2) {
  width: 4rem;
}
.logistic .part h2 span.name,
.logistic .part p span.name {
  width: 5rem;
}
.logistic .part.concat p:nth-of-type(1) {
  padding-bottom: 0;
}
.logistic .part.concat p:nth-of-type(2) {
  padding-top: 0;
}
.logistic .weather {
  margin: 1rem 0 2rem;
}
.logistic .weather ul {
  padding-top: 0.5rem;
}
.logistic .weather ul li {
  background: #ddeaf6;
  margin-bottom: 0.5rem;
  height: 2.66rem;
  padding-left: 0.5rem;
  padding: 0.5rem;
}
.logistic .weather ul li > * {
  float: left;
  white-space: nowrap;
  line-height: 1.66rem;
}
.logistic .weather ul li img {
  width: 2rem;
  margin-left: 1.5rem;
}
.logistic .weather ul li span {
  width: 7rem;
  border-right: 1px solid #000;
  font-size: 0.9rem;
}
.logistic .weather ul li em {
  font-size: 0.9rem;
  margin-left: 1.3rem;
}
.alert {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}
.alert .inner {
  width: 80%;
  box-sizing: border-box;
  background: #fff;
  position: absolute;
  left: 10%;
  top: 50%;
  margin-top: -100px;
}
.alert .inner p {
  padding: 30px;
  font-size: 1rem;
  text-align: center;
}
.alert .inner button {
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  color: #01a9ac;
  cursor: pointer;
  background: none;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
