<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Logistic Info</title>
   <link rel="stylesheet" href="css/common.css">
</head>
<body>
   <div id="page">
        <div class="banner">
            <img src="img/logo.svg" alt="" class="logo">
            <div class="slogan">
                <img src="img/logisticInfo.svg" alt="">
            </div>
        </div>
        <div class="logistic">
            <div class="part">
                <h2>SGTC: </h2>
                <p>No. 25 Huixing North Road, Yixing Economic and Technological Development Zone</p>
                <h2>西门子燃气轮机部件(江苏)有限公司：</h2>
                <p>宜兴经济开发区惠兴北路25号</p>
            </div>
            <div class="part">
                <h2>Le Meridien Yixing Hotel:</h2>
                <p>No. 455 Yangxian Road, Yixing Economic and Tech-nological Development Zone</p>
                <p>Tel: 0510-87198888</p>
                <h2>宜兴富力艾美酒店：</h2>
                <p>宜兴市经济开发区阳羡东路455号</p>
                <p>电话：0510-87198888</p>
            </div>
            
            <img class="map" src="img/map.svg" alt="">
            <div class="part">
                <h2>Shuttle bus:</h2>
                <p>Le Meridien Yixing Hotel - Wuxi Railway Station: <br/>08:30 / 09:30</p>
                <p>Le Meridien Yixing Hotel - Yixing Railway Station: <br/> 09:30</p>
            </div>
            <div class="part">
                <h2>Dress code:</h2>
                <p>Business casual</p>
                <p>No high-heel shoes for SGTC tour</p>
            </div>
            <div class="part weather">
                <ul>
                    <li>
                        <span>May 28<sup>th</sup>(Tuesday)</span>
                        <img src="img/cloudy.svg" alt="">
                        <em>Cloudy</em>
                        <em>22℃/30℃</em>
                        <em>Breeze</em>
                    </li>
                    <li>
                        <span>May 29<sup>th</sup>(Wednesday)</span>
                        <img src="img/cloudy.svg" alt="">
                        <em>Cloudy</em>
                        <em>21℃/27℃</em>
                        <em>Breeze</em>
                    </li>
                    <li>
                        <span>May 30<sup>th</sup>(Thursday)</span>
                        <img src="img/cloudy.svg" alt="">
                        <em>Cloudy</em>
                        <em>22℃/27℃</em>
                        <em>Breeze</em>
                    </li>
                </ul>
            </div>
            <div class="part">
                <h2>Event Organization:</h2>
                <p>Zhao Na: 18612285229</p>
                <p>Li Shu Yuan: 18515510315</p>
            </div>
      </div>
   </div>
   <div class="alert">
      <div class="inner">
         <p>Will open soon</p>
         <button type="button">OK</button>
      </div>
   </div>
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/common.js"></script>
</body>
</html>